/*
 * Copyright (c) 2024 Reisch Paul
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <nordic/nrf52840_partition.dtsi>
#include "sensor_node-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/regulator/npm1300.h>

/ {
	model = "Custom Board Sensor Node";
	compatible = "others,sensor-node";
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio1 8 (GPIO_ACTIVE_LOW)>; //GPIO_ACTIVE_LOW
			label = "Green LED 1 8";
		};
		loadsw0: loadsw_0 {
			gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "GPIO to control Load Switch LDO1 of NPM1300 (GPIO2)";
		};
		loadsw1: loadsw_1 {
			gpios = <&gpio0 20 (GPIO_ACTIVE_LOW)>;
			label = "GPIO to test";
		};
	};

	// loadsw {
	// 	compatible = "gpios-keys";

	// };

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		bootloader-led0 = &led0;
		mcuboot-led0 = &led0;
		loadsw0 = &loadsw0;
		loadsw1 = &loadsw1;
	};
};


&reg0 {
	status = "disabled";
};

&reg1 {
	// regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
	status = "disabled";
};


&adc {
	status = "okay";
};

&uicr {
	gpio-as-nreset;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	/* Arduino compatible PINs */
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c1 {
	compatible = "nordic,nrf-twi";
	status = "disabled";
	/* Arduino compatible PINs */
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	usb_cdc_acm_uart: cdc-acm-uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};





// NPM1300

arduino_i2c: &i2c1 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
};

&arduino_i2c {
	npm1300_ek_pmic: pmic@6b {
		compatible = "nordic,npm1300";
		reg = <0x6b>;

		npm1300_ek_gpio: gpio-controller {
			compatible = "nordic,npm1300-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			ngpios = <5>;
		};

		npm1300_ek_regulators: regulators {
			compatible = "nordic,npm1300-regulator";

			/* limits are set to min/max allowed values */
			npm1300_ek_buck1: BUCK1 {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3300000>;
			};

			npm1300_ek_buck2: BUCK2 {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3300000>;
			};

			npm1300_ek_ldo1: LDO1 {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3300000>;
			};

			npm1300_ek_ldo2: LDO2 {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3300000>;
			};
		};

		npm1300_ek_charger: charger {
			compatible = "nordic,npm1300-charger";
			term-microvolt = <4150000>;
			term-warm-microvolt = <4000000>;
			current-microamp = <150000>;
			dischg-limit-microamp = <1000000>;
			vbus-limit-microamp = <500000>;
			thermistor-ohms = <10000>;
			thermistor-beta = <3380>;
			charging-enable;
		};

		npm1300_ek_buttons: buttons {
			compatible = "gpio-keys";
			pmic_button0: pmic_button_0 {
				gpios = < &npm1300_ek_gpio 0 GPIO_ACTIVE_HIGH>;
				label = "Pmic button switch 0";
			zephyr,code = <INPUT_KEY_0>;
			};
		};

		npm1300_ek_leds: leds {
			compatible = "nordic,npm1300-led";
			nordic,led0-mode = "error";
			nordic,led1-mode = "charging";
			nordic,led2-mode = "host";
		};
	};
};




&npm1300_ek_regulators {
	dvs-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>,
		    	<&gpio0 18 GPIO_ACTIVE_LOW>;
};

&npm1300_ek_buck1 {
	regulator-init-microvolt = <1800000>;
	// regulator-boot-off;
};

&npm1300_ek_buck2 {
	regulator-boot-off;
};

&npm1300_ek_ldo1 {
	regulator-boot-off;
	regulator-initial-mode = <NPM1300_LDSW_MODE_LDO>;
	enable-gpios = <&npm1300_ek_gpio 2 GPIO_ACTIVE_HIGH>;
};

&npm1300_ek_ldo2 {
	regulator-boot-off;
};

&npm1300_ek_pmic {
	host-int-gpios = <&gpio0 15 0>;
	pmic-int-pin = <3>;
};



&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	sht4x@44 {
		status = "okay";
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;
		//zephyr,deferred-init;
	};
};
